.table {
    width: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
}

.rows-container {
    overflow: auto;
    max-height: 65vh;
}

.rows-container::-webkit-scrollbar-track {
    margin: 2px 0 0 0;
}

.rows-container::-webkit-scrollbar {
    width: 8px;
}

.rows-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9a9a9a;
}

.footer {
    height: 3em;
    width: 15%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #2684FF;
}
